<div id="particles-js">
  <div style="width: 100%; height: 100%; text-align: center; display: flex; position: absolute;">
    <div style="max-width: 1259px; margin: auto; padding: 0 16px;" id="home-bg">
      <div style="padding: 64px 32px 32px 32px;">
        <h4 style="font-weight: lighter; font-size: 34px">
          Ethereum JSON-RPC based Qtum (Mainnet & Testnet) Nodes Provider
        </h4>
        <h1 style="font-weight: lighter;">Powered by <a target="_blank" href="https://github.com/qtumproject/janus">Janus</a></h1>
        <h2 style="font-weight: lighter;">Janus is a web3 proxy adapter that can be used as a web3 provider to interact with Qtum.</h2>
        <h1 style="font-weight: lighter;">Get started in seconds</h1>
      </div>
      <div nz-row nzJustify="space-around" nzAlign="top" nzGutter="16" style="margin-top: 32px; padding-bottom: 64px;">
        <div nz-col nzSpan="8">
          <nz-card nzBorderless nzHoverable>
            <h2 style="font-weight: lighter;">Developer Experience</h2>
            <h3 style="font-weight: lighter;">Access actionable insights with operational analytics and threshold notifications.</h3>
            <h4 style="font-weight: lighter; margin-top: 16px;"><a>LEARN MORE ABOUT THE PLATFORM</a></h4>
          </nz-card>
        </div>
        <div nz-col nzSpan="8">
          <nz-card nzBorderless nzHoverable>
            <h2 style="font-weight: lighter;">High Availability Qtum API</h2>
            <h3 style="font-weight: lighter;">Instant access over to the Qtum network through Janus adapter. Connect to Qtum with a single line of code.</h3>
            <h4 style="font-weight: lighter; margin-top: 16px;"><a>CONNECT TO QTUM NOW</a></h4>
          </nz-card>
        </div>
        <div nz-col nzSpan="8">
          <nz-card nzBorderless nzHoverable>
            <h2 style="font-weight: lighter;">Trace Mode</h2>
            <h3 style="font-weight: lighter;">Trace mode allows you to request the node to reexecute the desired transaction with varying degrees of data collection.</h3>
            <h4 style="font-weight: lighter; margin-top: 16px;"><a>READ FOR MORE</a></h4>
          </nz-card>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="width: 100%;">
  <nz-card nzBorderless style="width: 100%; height: 250px; text-align: center; display: flex; align-items: center; justify-content: center;">
    <div style="max-width: 1259px; padding: 0 32px;">
      <h1 style="font-weight: lighter; color: #0645f7;">Your Gateway to Blockchain Development</h1>
      <h2 style="font-weight: lighter;">Backed by QNode's world-leading Infrastructure, our products dynamically scale with your application to meet the demands of your users.</h2>
    </div>
  </nz-card>
  <nz-card nzBorderless style="width: 100%; height: 350px; text-align: center; display: flex; align-items: center; justify-content: center;">
    <div nz-row style="max-width: 1259px;">
      <div nz-col nzSpan="12">
        <nz-card nzBorderless style="width: 100%; height: 350px; text-align: center; display: flex; align-items: center; justify-content: center;">
          <h1 style="font-weight: lighter; color: #0645f7;">Built for developers</h1>
          <h2 style="font-weight: lighter;">Best in-class documentation and resources to help you get started quickly so you can spend less time on infrastructure and more time building.</h2>
        </nz-card>
      </div>
      <div nz-col nzSpan="12" style="padding: 32px;">
        <nz-card nzBorderless nzHoverable style="width: 100%; height: 100%; background: #0645f7; text-align: center; display: flex; align-items: center; justify-content: center;">
          <h1 style="font-weight: lighter; color: white;">Gain insights with our Analytics</h1>
        </nz-card>
      </div>
    </div>
  </nz-card>
  <nz-card nzBorderless style="width: 100%; height: 350px; text-align: center; display: flex; align-items: center; justify-content: center;">
    <div nz-row style="max-width: 1259px;">
      <div nz-col nzSpan="12" style="padding: 32px;">
        <nz-card nzBorderless nzHoverable style="width: 100%; height: 100%; background: #0645f7; text-align: center; display: flex; align-items: center; justify-content: center;">
          <h1 style="font-weight: lighter; color: white;">Trusted by the best</h1>
        </nz-card>
      </div>
      <div nz-col nzSpan="12">
        <nz-card nzBorderless style="width: 100%; height: 350px; text-align: center; display: flex; align-items: center; justify-content: center;">
          <h1 style="font-weight: lighter; color: #0645f7;">We focus on the infrastructure</h1>
          <h2 style="font-weight: lighter;">The QNode API suite provides instant access over HTTPS and WebSockets to the Qtum network. Infrastructure for your decentralized application has never been easier.</h2>
        </nz-card>
      </div>
    </div>
  </nz-card>
  <nz-card nzBorderless style="width: 100%; height: 250px; text-align: center; padding-bottom: 32px; display: flex; align-items: center; justify-content: center;">
    <div style="max-width: 1259px; padding: 0 32px;">
      <h1 style="font-weight: lighter; color: #0645f7;">Spend more time and resource on product development</h1>
      <h2 style="font-weight: lighter;">Our goal is to provide the most accessible and reliable Qtum infrastructure, freeing you up to spend more time talking to your users and building what they need.</h2>
    </div>
  </nz-card>
  <nz-card nzBorderless style="width: 100%; text-align: center; padding-bottom: 16px; background: #0645f7">
    <h2 style="font-weight: lighter; margin-bottom: 16px; color: white">TRUSTED BY</h2>
    <img src="assets/svg/qtum-name-white.svg" style="height: 50px; width: auto;"/>
  </nz-card>
  <nz-card nzBorderless id="footer">
    <h4>Copyright <strong>©</strong> 2022 QNode <strong>·</strong> Qtum Foundation <nz-divider nzType="vertical" style="background: rgba(255,255,255,0.5);"></nz-divider> Author<a href="https://github.com/meherett" target="_blank"> Meheret Tesfaye</a></h4>
  </nz-card>
</div>
