<nz-alert nzShowIcon nzCloseable *ngIf="resetOldPasswordAlert" [nzType]="resetOldPasswordAlert.type" [nzMessage]="resetOldPasswordAlert.message" style="margin-bottom: 20px" (nzOnClose)="resetOldPasswordAlert = null"></nz-alert>
<form nz-form [formGroup]="formGroup" nzLayout="vertical"
      (ngSubmit)="resetOldPassword(formGroup.value)">
  <nz-form-item [ngStyle]="{ 'margin-bottom' : formGroup.get('old_password')?.dirty ? formGroup.get('old_password')?.invalid ? '0px' : '8px' : '8px' }">
    <nz-form-label nzRequired>Old Password</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="nzErrorTipOldPassword">
      <input nz-input nzSize="large" type="text" formControlName="old_password">
      <ng-template #nzErrorTipOldPassword let-control>
        <ng-container *ngIf="control.errors?.required">Old password is required.</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item [ngStyle]="{ 'margin-bottom' : formGroup.get('password')?.dirty ? formGroup.get('password')?.invalid ? '0px' : '8px' : '8px' }">
    <nz-form-label nzRequired>New Password</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="nzErrorTipPassword">
      <nz-input-group nz-popover nzSize="large" [nzSuffix]="suffixPassword" nzPopoverPlacement="left" nzPopoverTrigger="focus" [(nzPopoverVisible)]="visible"
                      nzPopoverOverlayClassName="register-password-cdk" [nzPopoverOverlayStyle]="{ 'width.px': 240 }" [nzPopoverContent]="nzPopoverContentPassword">
        <input nz-input [type]="passwordVisible ? 'text' : 'password'" formControlName="password"/>
      </nz-input-group>
      <ng-template #suffixPassword>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
      </ng-template>
      <ng-template #nzPopoverContentPassword>
        <div style="padding: 4px 0">
          <ng-container [ngSwitch]="status">
            <div *ngSwitchCase="'ok'" class="success">Strength - Strong</div>
            <div *ngSwitchCase="'pass'" class="warning">Strength - Medium</div>
            <div *ngSwitchDefault class="error">Strength - Short</div>
          </ng-container>
          <div class="progress-{{ status }}">
            <nz-progress
              [nzPercent]="progress"
              [nzStatus]="passwordProgressMap[status]"
              [nzStrokeWidth]="6"
              [nzShowInfo]="false"
            ></nz-progress>
          </div>
          <p class="mt-sm">Don't use passwords that are easy to guess.</p>
        </div>
      </ng-template>
      <ng-template #nzErrorTipPassword let-control>
        <ng-container *ngIf="control.errors?.required">New password is required.</ng-container>
        <ng-container *ngIf="control.errors?.minlength">Minimum length must be 8.</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>Confirm Password</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="nzErrorTipConfirmPassword">
      <nz-input-group nzSize="large">
        <input nz-input type="password" formControlName="confirm_password"/>
      </nz-input-group>
      <ng-template #nzErrorTipConfirmPassword let-control>
        <ng-container *ngIf="control.errors?.required">Confirm password is required.</ng-container>
        <ng-container *ngIf="control.errors?.confirmed && !control.errors?.required">Password is inconsistent.</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item style="margin-bottom: 0">
    <nz-form-control>
      <div class="actions-end">
        <button nz-button type="button" (click)="clear()" nzType="default" style="margin-right: 15px">
          <i nz-icon nzType="clear" nzTheme="outline"></i>
        </button>
        <button nz-button type="submit" [nzLoading]="nzLoading"
                nzType="primary">RESET</button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
